
body {
  font-family: 'Inconsolata', monospace;
  background-color: #574eca;
  width: 100%
  max-width: 900px;
  positon: relative;
  margin: auto;
}


h1 {
  text-align: center;
  color: red;
  font-size: 36px; 
}

h2 {
  text-align: center;
  color: goldenrod;
  margin: 15, 0, 15, 0;
  }

p {
  text-align: center;
  color: grey;
}

span {
  color: violet;
  font-style: italic;
  
}

a {
  color: goldenrod;
  text-decoration: none;
}

a:hover {
  text-decoration: underling;
  color: red;
}


ul {
  list-style: none;
}

p.footer {
  font-size: 18px;
  color: red;
  font-style: italic;
}

li.nav {
  display: inline;
  padding: 15px;
}


nav ul {
  text-align: center;
  font-size: 18px;
  margin: 25px;
}


.social img {
  width: 50px;
}

#image-grid img {
  width: 30%;
  margin: 10px;
  border: 5px solid goldenrod;

}

header ul {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  #image-grid img {
    width: 100%;
  }
}